  
    /* Styling for the calculator container */
    .calculator {
      text-align: center;
      border-radius: 1em;
      height: 380px;
      width: 95%;
      max-width: 400px;
      margin: auto;
      border: 2px solid #020a06;
      padding: 10px;
      background-color: rgba(3, 54, 23, 0.8);
      font-family: Arial, sans-serif;
      box-shadow: rgba(1, 36, 16, 0.8) 0px 10px 20px, rgba(81, 76, 79, 0.8) 0px 6px 6px;
    }
    
    /* Styling for the display area */
    .calculator input[type="text"] {
    background-color: #dcdbe1;
    padding-right: 5px;
    border: solid black 0.5px;
    color: black;
    border-radius: 5px;
    width: 95%;
    height: 15%;
    text-align: right;
    font-size: 22px;

    }
    
    /* Styling for the calculator buttons */
    .calculator input[type="button"] {
      width: 15%;
      height: 15%;
      padding: 10px;
      margin: 2px;
      font-size: 19px;
      background-color: lightgray;
      border: 2px solid #ccc;
      border-radius: 5px;
      cursor: pointer;
    }
    
    .calculator input[type="button"]:hover {
      background-color: #a8ef93;
    }
    .main-nav {
      text-align: center;
      margin-bottom: 25px;
    }
   
